$text-color: #595959;

.check-info {
  // position: absolute;
  // top: 0;
  // left: 0;
  // background-color: white;
  // height: 100vh;
  // overflow-y: scroll;
  // width: 600px;
  // padding: 2rem;
  // color: $text-color;

  .select, label {
    color: $text-color;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .avatar {
    margin-right: 8px;
  }

  &__button {
    color: $text-color;
    margin-top: 3rem;
  }
}