.check-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
  width: 600px;
  padding: 2rem;
  color: #595959;

  .select, label {
    color: #595959;
  }

  ul {
    padding-left: 0;
    margin: 1.5rem 0 0;
    list-style-type: none;
  }

  .info {
    display: flex;
    align-items: center;
    margin-left: 8px;
    color: #595959;
  }

  .avatar {
    margin-right: 8px;
  }

  &__button {
    color: #595959;
    margin-top: 3rem;
  }
}