
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}


.trigger:hover {
  color: #1890ff
}

.site-layout .site-layout-background {
  background: #fff
}

.site-layout-background {
  padding: 0;
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

aside.ant-layout-sider.ant-layout-sider-dark {
  background: inherit;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  background: inherit;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: lightgray;
}

ul.ant-menu.ant-menu-light.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
  background: inherit;
}

header.ant-layout-header.site-layout-background {
  padding: 0;
}

main.ant-layout-content.site-layout-background {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

header.ant-layout-header.site-layout-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 0px;
}

.logo {
  margin-top: 5px;
  text-align: center;

  &.collapsed img {
    width: 80px;
    height: 80px;
    transition: all 300ms ease-in-out;
  }
}
