.request {
  position: absolute;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
  width: 600px;
  padding: 2rem;
  color: #595959;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    button:first-child {
      margin-right: 8px;
    }
  }

  .ant-input, label {
    color: #595959;
  }

  .self-check-button {
    color: #595959;
    margin-top: 3rem;
  }
}